@{
    ViewData["Title"] = "Home Page";
	Layout = "_Layout";
}
@{
	Layout = "_Layout";
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



	<link rel="icon" href="img/favicon.png">


	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="~/css/bootstrap.min.css">

	<link rel="stylesheet" href="~/css/nice-select.css">

	<link rel="stylesheet" href="~/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/css/icofont.css">

	<link rel="stylesheet" href="~/css/slicknav.min.css">

	<link rel="stylesheet" href="~/css/owl-carousel.css">

	<link rel="stylesheet" href="~/css/datepicker.css">

	<link rel="stylesheet" href="~/css/animate.min.css">

	<link rel="stylesheet" href="~/css/magnific-popup.css">


	<link rel="stylesheet" href="~/css/normalize.css">
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/responsive.css">

</head>
<body>


	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>

	<ul class="pro-features">
		<a class="get-pro" href="#">Proya Yükselt</a>
		<li class="big-title">Pro Version ayrıcalıklarından size faydalanın</li>
		<li>Daha güvenilir sonuçlar</li>
		<li>Geçmiş tedavilerin kontolü</li>
		<li>Karşılaştığınız hastalıkların grafiklerle gösterimi</li>
		<li>Hepsi İlaç Rehberim Proda</li>
		<div class="button">
			<a href="http://preview.themeforest.net/item/mediplus-medical-and-doctor-html-template/full_screen_preview/26665910?_ga=2.145092285.888558928.1591971968-344530658.1588061879" target="_blank" class="btn">Pro Version Demo</a>
			<a href="https://themeforest.net/item/mediplus-medical-and-doctor-html-template/26665910" target="_blank" class="btn">Pro Version a yükselt</a>
		</div>
	</ul>

	<section class="slider">
		<div class="hero-slider">

			<div class="single-slider" style="background-image:url('img/slider2.jpg')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1>Güvenebileceğiniz <span>Tıbbi</span> hizmetler <span>sunuyoruz</span></h1>
								<p>Bu uygulamayı kullanarak, doktorlar hasta verilerini daha etkili bir şekilde analiz edebilir, hızlı bir şekilde ilaç önerileri oluşturabilir ve tedavi planlarınızı kişiselleştirebilirsiniz</p>
								<div class="button">
									<a href="#" class="btn">Bizimle iletişime geçin</a>
									@* <a href="#" class="btn primary">Learn More</a> *@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="single-slider" style="background-image:url('img/slider.jpg')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1>Güvenebileceğiniz <span>Tıbbi</span> hizmetler <span>sunuyoruz</span></h1>
								<p>Bu uygulamayı kullanarak, doktorlar hasta verilerini daha etkili bir şekilde analiz edebilir, hızlı bir şekilde ilaç önerileri oluşturabilir ve tedavi planlarınızı kişiselleştirebilirsiniz</p>
								<div class="button">
									<a href="#" class="btn">Bizimle iletişime geçin</a>
									@* <a href="#" class="btn primary">Learn More</a> *@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="single-slider" style="background-image:url('img/slider3.jpg')">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="text">
								<h1>Güvenebileceğiniz <span>Tıbbi</span> hizmetler <span>sunuyoruz</span></h1>
								<p>İlaç Rehberimi kullanarak, doktorlar hasta verilerini daha etkili bir şekilde analiz edebilir, hızlı bir şekilde ilaç önerileri oluşturabilir ve tedavi planlarınızı kişiselleştirebilirsiniz</p>
								<div class="button">
									<a href="#" class="btn">Bizimle iletişime geçin</a>
									@* <a href="#" class="btn primary">Learn More</a> *@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="schedule">
		<div class="container">
			<div class="schedule-inner">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12 ">

						<div class="single-schedule first">
							<div class="inner">
								<div class="icon">
									<i class="fa fa-ambulance"></i>
								</div>
								<div class="single-content">
									<span>Doktorlar</span>
									<p>İlaç Rehberim doktorların hastalarına tanı koyarken ve yazacakları ilaçlar için kolaylık sağlar</p>
									<a href="#">Daha Fazla<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-12">

						<div class="single-schedule middle">
							<div class="inner">
								<div class="icon">
									<i class="icofont-prescription"></i>
								</div>
								<div class="single-content">
									<span>Stajyer Doktorlar</span>
									<p>İlaç Rehberim stajyer doktorların daha kolay mesleklerini öğrenmelerini ve gerçek hayata alışabilmelerini sağlar</p>
									<a href="#">Daha Fazla<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-12">

						<div class="single-schedule last">
							<div class="inner">
								<div class="icon">
									<i class="icofont-ui-clock"></i>
								</div>
								<div class="single-content">
									<span>Sağlık Kuruluşları</span>
									<p>İlaç Rehberim sağlık kuruluşlarına ve kliniklere hasta yönetiminde daha etkili bir çözüm sunar.</p>
									<a href="#">Daha Fazla<i class="fa fa-long-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="Feautes section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Her zaman yardıma hazırız & biz bir aileyiz</h2>
						<img src="img/section-img.png" alt="#">
						<p>İlaç Rehberim tedavi süreçlerini hızlandırarak hastaların daha hızlı ve etkili tedavi almalarını sağlar.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-12">

					<div class="single-features">
						<div class="signle-icon">
							<i class="icofont icofont-ambulance-cross"></i>
						</div>
						<h3>Kişiselleştirilmiş Tedavi Planları</h3>
						<p>Hasta bilgilerinin detaylı analizi, doktorlara her hastaya özel, kişiselleştirilmiş tedavi planları oluşturma imkanı tanır.</p>
					</div>

				</div>
				<div class="col-lg-4 col-12">

					<div class="single-features">
						<div class="signle-icon">
							<i class="icofont icofont-medical-sign-alt"></i>
						</div>
						<h3>Veri Odaklı Kararlar</h3>
						<p>Projede kullanılan büyük veri analizi, doktorlara hasta popülasyonu üzerinde genel eğilimleri ve desenleri anlama fırsatı sunar.</p>
					</div>

				</div>
				<div class="col-lg-4 col-12">

					<div class="single-features last">
						<div class="signle-icon">
							<i class="icofont icofont-stethoscope"></i>
						</div>
						<h3>Etkin Zaman Yönetimi</h3>
						<p>Hasta bilgilerini hızlı bir şekilde analiz edebilen sistem, doktorların zamanlarını daha etkili bir şekilde yönetmelerine olanak tanır.</p>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="why-choose section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Sağlığınızı İyileştirmek İçin Farklı Hizmetler Sunuyoruz</h2>
						<img src="img/section-img.png" alt="#">
						<p>Grafikler ile verileri görselleştiriyoruz</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-12">

					<div class="choose-left">
						<h3>Bizi tanıyın</h3>
						<p>Doktorlara hastaların tanılarına göre tanı koymalarında ve ilaç önerilerinde bulunmalarına yardımcı olacak bir web tabanlı uygulama geliştirmeyi amaçlamaktadır. Sağlık çalışanları için geliştirilmiştir.</p>
						<p>İlaç rehberim hastaların genel sağlık durumu, geçmiş tanıları, şikayetleri ve ilaçlara karşı hassasiyetleri gibi çeşitli parametreleri değerlendirerek, doktorlara daha etkili ve kişiselleştirilmiş tedavi önerileri sunacaktır.</p>
@* 						<div class="row">
							<div class="col-lg-6">
								<ul class="list">
									<li><i class="fa fa-caret-right"></i>Maecenas vitae luctus nibh. </li>
									<li><i class="fa fa-caret-right"></i>Duis massa massa.</li>
									<li><i class="fa fa-caret-right"></i>Aliquam feugiat interdum.</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<ul class="list">
									<li><i class="fa fa-caret-right"></i>Maecenas vitae luctus nibh. </li>
									<li><i class="fa fa-caret-right"></i>Duis massa massa.</li>
									<li><i class="fa fa-caret-right"></i>Aliquam feugiat interdum.</li>
								</ul>
							</div>
						</div> *@
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="portfolio section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Doğru verilere önem veriyoruz</h2>
						<img src="img/section-img.png" alt="#">
						<p>Aldığımız verilerin doğruluğu birden fazla kaynak tarafından kontrol edilmektedir</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="owl-carousel portfolio-slider">
						<div class="single-pf">
							<img src="img/pf1.jpg" alt="#">
						</div>
						<div class="single-pf">
							<img src="img/pf2.jpg" alt="#">
							
						</div>
						<div class="single-pf">
							<img src="img/pf3.jpg" alt="#">
							
						</div>
						<div class="single-pf">
							<img src="img/pf4.jpg" alt="#">
							
						</div>
						<div class="single-pf">
							<img src="img/pf1.jpg" alt="#">
							
						</div>
						<div class="single-pf">
							<img src="img/pf2.jpg" alt="#">
							
						</div>
						<div class="single-pf">
							<img src="img/pf3.jpg" alt="#">
							
						</div>
						<div class="single-pf">
							<img src="img/pf4.jpg" alt="#">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="services section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Sizlere yardımcı olabilmek için farklı hizmetler sunuyoruz</h2>
						<img src="img/section-img.png" alt="#">
						<p>Sağlık profesyonellerinin zaman tasarrufu yaparak daha fazla hasta ile etkileşime geçebilmeleri.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					
					<div class="single-service">
						<i class="icofont icofont-prescription"></i>
						<h4><a href="service-details.html">Hızlı ve Doğru İlaç Önerileri</a></h4>
						<p>Hastaların genel sağlık bilgilerini, geçmiş tanılarını ve ilaçlara karşı hassasiyetlerini analiz ederek doktorlara hızlı ve doğru ilaç önerileri sunar</p>
					</div>
					
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					
					<div class="single-service">
						<i class="icofont icofont-tooth"></i>
						<h4><a href="service-details.html">Kişiselleştirilmiş Tedavi Planları</a></h4>
						<p>Hasta bilgilerinin detaylı analizi, doktorlara her hastaya özel, kişiselleştirilmiş tedavi planları oluşturma imkanı tanır.</p>
					</div>
					
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					
					<div class="single-service">
						<i class="icofont icofont-heart-alt"></i>
						<h4><a href="service-details.html">Veri Odaklı Kararlar</a></h4>
						<p>Kullanılan büyük veri analizi, doktorlara hasta popülasyonu üzerinde genel eğilimleri ve desenleri anlama fırsatı sunar.</p>
					</div>
					
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					
					<div class="single-service">
						<i class="icofont icofont-listening"></i>
						<h4><a href="service-details.html">Etkin Zaman Yönetimi</a></h4>
						<p>Hasta bilgilerini hızlı bir şekilde analiz edebilen sistem, doktorların zamanlarını daha etkili bir şekilde yönetmelerine olanak tanır.</p>
					</div>
					
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					
					<div class="single-service">
						<i class="icofont icofont-eye-alt"></i>
						<h4><a href="service-details.html">Sağlık Hizmet Kalitesinde Artış</a></h4>
						<p>Hızlı ve kişiselleştirilmiş ilaç önerileri ile birlikte, sağlık hizmetlerinde genel bir kalite artışı beklenmektedir</p>
					</div>
					
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					
					<div class="single-service">
						<i class="icofont icofont-blood"></i>
						<h4><a href="service-details.html">Tıp Araştırmalarına Katkı</a></h4>
						<p>Kullanılan büyük veri analizi, sağlık verileri üzerinde derinlemesine incelemeler yapma fırsatı sunar.</p>
					</div>
					
				</div>
			</div>
		</div>
	</section>

	<section class="pricing-table section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Size En İyi Tedaviyi Uygun Fiyata Sunuyoruz</h2>
						<img src="img/section-img.png" alt="#">
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-4 col-md-12 col-12">
					<div class="single-table">

						<div class="table-head">
							<div class="icon">
								<i class="icofont icofont-ui-cut"></i>
							</div>
							<h4 class="title">Standart Kullanım</h4>
						</div>

						<ul class="table-list">
							<li><i class="icofont icofont-ui-check"></i>Sınırlı sayıda Tanı koyma</li>
							<li><i class="icofont icofont-ui-check"></i>Hastanın genel sağlık durumu</li>
							<li class="cross"><i class="icofont icofont-ui-close"></i>Kişiselleştirilmiş İlaç Önerileri</li>
							<li class="cross"><i class="icofont icofont-ui-close"></i>Görselleştirilmiş Veriler</li>
							<li class="cross"><i class="icofont icofont-ui-close"></i>Sağlık kurluşları için hastalarının durumları</li>
						</ul>
						<div class="table-bottom">
							<a class="btn" href="#">Şimdi Katıl</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-12 col-12">
					<div class="single-table">

						<div class="table-head">
							<div class="icon">
								<i class="icofont icofont-tooth"></i>
							</div>
							<h4 class="title">Aylık Premium Planlama</h4>
							<div class="price">
								<p class="amount">$99</p>
							</div>
						</div>

						<ul class="table-list">
							<li><i class="icofont icofont-ui-check"></i>Sınırlı sayıda Tanı koyma</li>
							<li><i class="icofont icofont-ui-check"></i>Hastanın genel sağlık durumu</li>
							<li><i class="icofont icofont-ui-check"></i>Kişiselleştirilmiş İlaç Önerileri</li>
							<li class="cross"><i class="icofont icofont-ui-close"></i>Görselleştirilmiş Veriler</li>
							<li class="cross"><i class="icofont icofont-ui-close"></i>Sağlık kurluşları için hastalarının durumları</li>
						</ul>
						<div class="table-bottom">
							<a class="btn" href="#">Şimdi Katıl</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-12 col-12">
					<div class="single-table">

						<div class="table-head">
							<div class="icon">
								<i class="icofont-heart-beat"></i>
							</div>
							<h4 class="title">Yıllık Premium Planlama</h4>
							<div class="price">
								<p class="amount">$1099</p>
							</div>
						</div>

						<ul class="table-list">
							<li><i class="icofont icofont-ui-check"></i>Sınırlı sayıda Tanı koyma</li>
							<li><i class="icofont icofont-ui-check"></i>Hastanın genel sağlık durumu</li>
							<li><i class="icofont icofont-ui-check"></i>Kişiselleştirilmiş İlaç Önerileri</li>
							<li><i class="icofont icofont-ui-check"></i>Görselleştirilmiş Veriler</li>
							<li><i class="icofont icofont-ui-check"></i>Sağlık kurluşları için hastalarının durumları</li>
						</ul>
						<div class="table-bottom">
							<a class="btn" href="#">Şimdi Katıl</a>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="blog section" id="blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>En Güncel Tıp Haberlerimizi Takip Edin.</h2>
						<img src="img/section-img.png" alt="#">
						<p>Güncel Tıp Haberlerini Alarak Kendinizi Güncel Tutun.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">

					<div class="single-news">
						<div class="news-head">
							<img src="img/blog1.jpg" alt="#">
						</div>
						<div class="news-body">
							<div class="news-content">
								<div class="date">--/--/----</div>
								<h2><a href="blog-single.html">RSV aşısı, bebeklerin hastaneye yatışını 'yüzde 80'den fazla azaltıyor'</a></h2>
								<p class="text">Üç ülkede yapılan araştırma, yaygın ve tehlikeli kış virüsü olan RSV’ye karşı bebekleri korumak için geliştirilen antikorun, hastaneye yatışları yüzde 80’den fazla azalttığını gösterdi.</p>
							</div>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 col-12">

					<div class="single-news">
						<div class="news-head">
							<img src="img/blog2.jpg" alt="#">
						</div>
						<div class="news-body">
							<div class="news-content">
								<div class="date">--/--/----</div>
								<h2><a href="blog-single.html">Anastrozol: Meme kanseri riskini yarı yarıya azaltan ilaç İngiltere'de binlerce kadına sunuluyor</a></h2>
								<p class="text">İngiltere'de on binlerce kadın meme kanserini önlemeye yardımcı olan bir ilaçtan faydalanabilecek. Hastalığı tedavi etmek için uzun yıllardır kullanılan Anastrozol, artık önleyici bir ilaç olarak kullanılacak.</p>
							</div>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 col-12">

					<div class="single-news">
						<div class="news-head">
							<img src="img/blog3.jpg" alt="#">
						</div>
						<div class="news-body">
							<div class="news-content">
								<div class="date">--/--/----</div>
								<h2><a href="blog-single.html">Bilim insanları yapay zekadan umutlu: 'Kanserin derecesini ve agresifliğini daha isabetli belirleyebilir'</a></h2>
								<p class="text">İngiltere’de yapılan bir araştırma, nadir görülen bir kanser türü olan retroperitoneal sarkomun agresiflik derecesini belirlemekte, yapay zekanın mevcut yöntemlere göre yaklaşık iki kat fazla başarılı olduğunu ortaya koydu.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="appointment">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Size Her Zaman Yardıma Hazırız.</h2>
						<img src="img/section-img.png" alt="#">
						<p>Her türlü soru ve önerileriniz için bizimle iletişime geçin</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12 col-12">
					<form class="form" action="#">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input name="name" type="text" placeholder="İsim">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input name="email" type="email" placeholder="Email">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input name="phone" type="text" placeholder="Telefon Numaranız">
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<div class="form-group">
									<input type="text" placeholder="Tarih" id="datepicker">
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-12">
								<div class="form-group">
									<textarea name="message" placeholder="Mesajınızı Buraya Yazınız....."></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-5 col-md-4 col-12">
								<div class="form-group">
									<div class="button">
										<button type="submit" class="btn">Gönder</button>
									</div>
								</div>
							</div>
							<div class="col-lg-7 col-md-8 col-12">
								<p>(Bizle iletişime geçtiğiniz için teşşekür ederiz)</p>
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-6 col-md-12 ">
					<div class="appointment-image">
						<img src="img/contact-img.png" alt="#">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="newsletter section">
		<div class="container">
			<div class="row ">
				<div class="col-lg-6  col-12">

					<div class="subscribe-text ">
						<h6>Bülten için Kaydolun</h6>
						<p class="">Güncel haberler ve güncellemer için bizi takipte kalın<br> homero alterum.</p>
					</div>

				</div>
				<div class="col-lg-6  col-12">

					<div class="subscribe-form ">
						<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
							<input name="EMAIL" placeholder="Email adresiniz" class="common-input" onfocus="this.placeholder = ''"
								   onblur="this.placeholder = 'Email adresiniz'" required="" type="email">
							<button class="btn">Kaydol</button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</section>

	<script src="~/js/jquery.min.js"></script>

	<script src="~/js/jquery-migrate-3.0.0.js"></script>

	<script src="~/js/jquery-ui.min.js"></script>

	<script src="~/js/easing.js"></script>

	<script src="~/js/colors.js"></script>

	<script src="~/js/popper.min.js"></script>

	<script src="~/js/bootstrap-datepicker.js"></script>

	<script src="~/js/jquery.nav.js"></script>

	<script src="~/js/slicknav.min.js"></script>

	<script src="~/js/jquery.scrollUp.min.js"></script>

	<script src="~/js/niceselect.js"></script>

	<script src="~/js/tilt.jquery.min.js"></script>

	<script src="~/js/owl-carousel.js"></script>

	<script src="~/js/jquery.counterup.min.js"></script>

	<script src="~/js/steller.js"></script>

	<script src="~/js/wow.min.js"></script>

	<script src="~/js/jquery.magnific-popup.min.js"></script>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

	<script src="~/js/bootstrap.min.js"></script>

	<script src="~/js/main.js"></script>
</body>
</html>


