@{
	Layout = "_Layout";
}
<h1>@ViewData["Title"]</h1>

<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
	<meta name='copyright' content=''>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<link rel="icon" href="img/favicon.png">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="~/css/bootstrap.min.css">

	<link rel="stylesheet" href="~/css/nice-select.css">

	<link rel="stylesheet" href="~/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/css/icofont.css">

	<link rel="stylesheet" href="~/css/slicknav.min.css">

	<link rel="stylesheet" href="~/css/owl-carousel.css">

	<link rel="stylesheet" href="~/css/datepicker.css">

	<link rel="stylesheet" href="~/css/animate.min.css">

	<link rel="stylesheet" href="~/css/magnific-popup.css">


	<link rel="stylesheet" href="~/css/normalize.css">
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/responsive.css">

</head>
<body>

	<div class="preloader">
		<div class="loader">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>

			<div class="indicator">
				<svg width="16px" height="12px">
					<polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
					<polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
				</svg>
			</div>
		</div>
	</div>

	<ul class="pro-features">
		<a class="get-pro" href="#">Proya Yükselt</a>
		<li class="big-title">Pro Version ayrıcalıklarından size faydalanın</li>
		<li>Daha güvenilir sonuçlar</li>
		<li>Geçmiş tedavilerin kontolü</li>
		<li>Karşılaştığınız hastalıkların grafiklerle gösterimi</li>
		<li>Hepsi İlaç Rehberim Proda</li>
		<div class="button">
			<a href="http://preview.themeforest.net/item/mediplus-medical-and-doctor-html-template/full_screen_preview/26665910?_ga=2.145092285.888558928.1591971968-344530658.1588061879" target="_blank" class="btn">Premium Version Standart</a>
			<a href="https://themeforest.net/item/mediplus-medical-and-doctor-html-template/26665910" target="_blank" class="btn">Premiuma Yükseltin</a>
		</div>
	</ul>

	<div class="breadcrumbs overlay">
		<div class="container">
			<div class="bread-inner">
				<div class="row">
					<div class="col-12">
						<h2>Bizimle iletişime geçin</h2>
						<ul class="bread-list">
							<li><a a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
							<li><i class="icofont-simple-right"></i></li>
							<li class="active">İletişim</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="contact-us section">
		<div class="container">
			<div class="inner">
				<div class="row">
@* 					<div class="col-lg-6">
						<div class="contact-us-left">
							<!--Start Google-map -->
							<div id="myMap"></div>
							<!--/End Google-map -->
						</div>
					</div> *@
					<div class="col-lg-6">
						<div class="contact-us-form">
							<h2>Bizimle iletişim halinde kalın</h2>
							<p>Herhangi bir sorunuz veya şiakayetiniz varsa bizimle lütfen paylasşın</p>
							<!-- Form -->
							<form class="form" method="post" action="mail/mail.php">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<input type="text" name="name" placeholder="İsminiz" required="">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<input type="email" name="email" placeholder="Email" required="">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<input type="text" name="phone" placeholder="Telefon Numaranız" required="">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<input type="text" name="subject" placeholder="Konu" required="">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<textarea name="message" placeholder="Mesajınız" required=""></textarea>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group login-btn">
											<button class="btn" type="submit">Gönder</button>
										</div>
@* 										<div class="checkbox">
											<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">Do you want to subscribe our Newsletter ?</label>
										</div> *@
									</div>
								</div>
							</form>
							<!--/Form Bitiş-->
						</div>
					</div>
				</div>
			</div>
			<div class="contact-info">
				<div class="row">

					<div class="col-lg-4 col-12 ">
						<div class="single-info">
							<i class="icofont icofont-ui-call"></i>
							<div class="content">
								<h3>+(90) 543 970 51 73</h3>
								<p>barisenginbag@gmail.com</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-12 ">
						<div class="single-info">
							<i class="icofont-google-map"></i>
							<div class="content">
								<h3>Adres</h3>
								<p>İstanbul, Küçükçekmece</p>
							</div>
						</div>
					</div>

@* 					<div class="col-lg-4 col-12 ">
						<div class="single-info">
							<i class="icofont icofont-wall-clock"></i>
							<div class="content">
								<h3>Mon - Sat: 8am - 5pm</h3>
								<p>Sunday Closed</p>
							</div>
						</div>
					</div> *@

				</div>
			</div>
		</div>
	</section>

	<footer id="footer" class="footer ">

@* 		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>About Us</h2>
							<p>Lorem ipsum dolor sit am consectetur adipisicing elit do eiusmod tempor incididunt ut labore dolore magna.</p>
							<!-- Social -->
							<ul class="social">
								<li><a href="#"><i class="icofont-facebook"></i></a></li>
								<li><a href="#"><i class="icofont-google-plus"></i></a></li>
								<li><a href="#"><i class="icofont-twitter"></i></a></li>
								<li><a href="#"><i class="icofont-vimeo"></i></a></li>
								<li><a href="#"><i class="icofont-pinterest"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h2>Quick Links</h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Cases</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other Links</a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<ul>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consuling</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
										<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Open Hours</h2>
							<p>Lorem ipsum dolor sit ame consectetur adipisicing elit do eiusmod tempor incididunt.</p>
							<ul class="time-sidual">
								<li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
								<li class="day">Saturday <span>9.00-18.30</span></li>
								<li class="day">Monday - Thusday <span>9.00-15.00</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer">
							<h2>Newsletter</h2>
							<p>subscribe to our newsletter to get allour news in your inbox.. Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="button"><i class="icofont icofont-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div> *@

	</footer>

	<script src="~/js/jquery.min.js"></script>

	<script src="~/js/jquery-migrate-3.0.0.js"></script>

	<script src="~/js/jquery-ui.min.js"></script>

	<script src="~/js/easing.js"></script>

	<script src="~/js/colors.js"></script>

	<script src="~/js/popper.min.js"></script>

	<script src="~/js/bootstrap-datepicker.js"></script>

	<script src="~/js/jquery.nav.js"></script>

	<script src="~/js/slicknav.min.js"></script>

	<script src="~/js/jquery.scrollUp.min.js"></script>

	<script src="~/js/niceselect.js"></script>

	<script src="~/js/tilt.jquery.min.js"></script>

	<script src="~/js/owl-carousel.js"></script>

	<script src="~/js/jquery.counterup.min.js"></script>

	<script src="~/js/steller.js"></script>

	<script src="~/js/wow.min.js"></script>

	<script src="~/js/jquery.magnific-popup.min.js"></script>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

	<script src="https://maps.google.com/maps/api/js?key=AIzaSyDGqTyqoPIvYxhn_Sa7ZrK5bENUWhpCo0w"></script>

	<script src="~/js/gmaps.min.js"></script>

	<script src="~/js/map-active.js"></script>

	<script src="~/js/bootstrap.min.js"></script>

	<script src="~/js/main.js"></script>
</body>
</html>
